<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Profile</title>
    <link rel="stylesheet" type="text/css" href="profile.css">

</head>

<body>
    <div class="profile">

        {% if me.photo %}
            <img alt="user photo" src="{{ MEDIA_URL }}//{{ me.photo }}" height="200" width="200">
        {% else %}
            <img alt="user photo" src="profile/images/defaultUserImage.png">
        {% endif %}
        <br/><br/>
	
	{% for me in myUser%}
	      {% if userName == me.userName %}
        <table><tbody>
              <tr><td>Username</td><td>{{ userName }}</td><tr>
              <tr><td>Email</td>
                  <td>{% if me.Email %} {{ me.Email }}
                      {% else %} n/a
                      {% endif %}</td><tr>

              <tr><td>Github</td>
                <td>{% if me.Github %} {{ me.Github }}
                    {% else %} n/a
                    {% endif %}</td><tr>

              <tr><td>Bio</td>
                <td>{% if me.Bio %} {{ me.Bio }}
                    {% else %} n/a
                    {% endif %}</td><tr>
       </tbody></table>
		{% endif %}
	{%endfor%}
    </div>
    <br/>

    <button id="show" class="editProfile">Edit Profile</button>
    <button id="show" class="uploadPhoto">Upload Photo</button>


</body>
